@import "tailwindcss";

:root {
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
  }
}

@import url('https://use.typekit.net/bic7mgl.css');


body {
  background: url('/test.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  font-family: "big-caslon-fb", serif;
  font-weight: 400;
  font-style: italic;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}