@import "tailwindcss";

:root {
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: white;
  }
}

body {
  background: url('/jao-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Times New Roman', Times, serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}